html {
  height: 100%;
}

body {
  border: solid rgb(255, 255, 255);
  padding: 5px;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  font-size: 1.1em;
}

header {
  background-color: #114232;
  color: #fff;
  padding: 5px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#header-wrapper {
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 10px;
  max-width: var(--max-width);
}
#header-info {
  flex: 1;
  padding: 10px;
}
#logo {
  padding: 5px;
  display: block;
}

#title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 5px;
  margin-left: 20%;
}
#subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 30px;
  margin-bottom: 30px;
}

#subtitle2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 30px;
  margin-bottom: 30px;
}

.top-menu-bar {
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 2px;
}

.recipe-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #ffbf5d;
  background-position: center;
  background-size: cover;
  height: 70px;
  margin-bottom: 25px;
}

.recipe-filter label {
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bolder;
}

.recipe-filter span {
  margin-right: 10px;
  margin-left: 10px;
}

#recipe-filter input {
  border: none;
  border-radius: 7px;
  padding: 5px;
}

.recipe-filter input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

/* .Search {
  text-align: center;
  background-color: #009b7d;
  border-radius: 15px;
  border: 1px;
  box-sizing: border-box;
  color: #fff;
  border-radius: 13px;
  margin-left: 20px;
  padding: 5px 11px;
  font-size: 15px;
  touch-action: manipulation;
  cursor: pointer;
  position: relative;
  width: 100px;
  height: 30px;
} */

.Search:hover {
  background-color: #13aa52;
}

#all-recipes {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 30px;
  margin-bottom: 30px;
}

.recipe-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  margin-bottom: 50px;
}

/* .align-recipes {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
} */

.recipe {
  text-align: center;
  width: calc(25% - 20px);
  margin-bottom: 20px;
}

.recipe-img {
  width: 100%;
  height: auto;
  filter: brightness(50%);
  border-radius: 7%;
  border-top-left-radius: 7%;
}

.recipe-name {
  position: absolute;
  bottom: 50%;
  left: 50%;
  font-family: Arial, Helvetica, sans-serif;
  transform: translate(-50%, 50%);
  margin: 0;
  font-size: 18px;
  text-shadow: 4px 4px 8px rgb(0, 0, 0); /* Adjust shadow properties as needed */
  white-space: nowrap;
  color: #fff;
  text-align: center;
  z-index: 1;
}

/* Add New Recipe Modal */

.add-img {
  width: 76%;
  height: auto;
  /* opacity: 0.85; */
  filter: brightness(100%);
}

.image-container {
  float: left;
  margin-right: 20px; /* Adjust as needed */
}

.text-container {
  overflow: hidden; /* Clear float */
  margin-left: 420px; /* Width of the image + margin */
}

#openModal {
  width: 100%;
  height: auto;
  border-radius: 7%;
  /* border-top-left-radius: 7%; */
  cursor: pointer;
  box-shadow: grey 0 2px 2px 0;
}
#openModal:hover {
  background-color: #009b7d;
}

/* .recipe-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.645), rgba(0, 0, 0, 0));
  border-radius: 7%;
  border-top-left-radius: 7%;
  z-index: 1;
} */

.recipe-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 7%;
  border-top-left-radius: 7%;
}

.view-btn {
  display: block; /* Make the button a block-level element */
  margin: 0 auto; /* Center the button horizontally */
  text-align: center; /* Center the text inside the button */
}

.view-btn {
  position: relative;
  width: 60px;
  margin: 10px auto;
  margin: 10px auto;
  background-color: #009b7d;
  border: 1px solid #009b7d;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 2px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 15px;
  text-align: center;
  z-index: 1;
}

.view-btn:hover {
  background-color: #13aa52;
}

.hide-on-modal {
  display: none;
}

.recipe-img img {
  max-width: 100%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #009b7c84;
  color: #fff;
  width: 110px;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 70%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#add-recipe {
  margin: 50px;
  border-radius: 15px;
  border-style: dashed;
  border-color: #aaaaaa;
}

#add-form {
  display: flex;
  flex-direction: column;
}

footer {
  padding: 15px;
}

footer {
  display: flex;
  background-color: #114232;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

/* Modal Styles */
.modal11 {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content1 {
  /* display: flex;
  flex-direction: column; */
  background-color: #ffbf5d;
  margin: 10% auto;
  padding: 10px 35px 15px 35px;
  align-items: center;
  border: 1px solid #888;
  box-shadow: #000;
  width: 25%;
  max-width: 500px;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.modal-content1 input {
  min-width: 95%;
  /* min-width: 20px; */
  padding: 8px;
  margin: 0 4px 0 0;
  border: 1px solid #666;
  border-radius: 5px;
  height: 20px;
}
textarea {
  min-width: 100%;
  border: 1px solid #666;
  border-radius: 5px;
}
.add-new {
  min-width: 100%;
  padding: 10px;
  background-color: #3338;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}
.add-new:hover {
  background-color: #0f5512;
}

.modal11-input {
  margin-bottom: 10px;
}

.modal11-input input {
  width: calc(100% - 20px); /* Adjusted width for input */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal11-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal11-button:hover {
  background-color: #45a049;
}

.modal-body {
  display: flex;
}

.close1 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 0;
}

.close1:hover,
.close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Show modal when the button is clicked */
.modal.open {
  display: block;
}

#modal1:target {
  display: block;
}

#openModal,
.modal-content1,
.modal-content,
.add-img {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
